/* =====================================================================
*
*    ブランド機能/brand1
*
* =================================================================== */

#LogoMain h1 a {
	color: #05C;
}

.glbPlist.bl-hover {
	background-color: #FFFEF6;
}

#mainvisual-txt {
	background-color: #05C;
}