/* =====================================================================
*
*    ブランド機能/brand1
*
* =================================================================== */

#LogoMain h1 a {
	color: #BD2F2F;
}

.glbPlist.bl-hover {
	background-color: #fff8f8;
}

#mainvisual-txt {
	background-color: #BD2F2F;
}