@charset "UTF-8";

@import "imports/reset.css";
@import "imports/base.css";
@import "imports/order.css";
@import "imports/user.css";
@import "imports/hack.css";
@import "imports/parts.css";
@import "imports/general_classes.css";

.error_inline {
	color:#d44747 !important;
	padding: 1px !important;	/* for IE */
	display:block!important;
	/*margin-top: 8px;*/
}
@media (max-width: 768px) {
	.error_inline--mrgT {
		margin-top: 8px;
	}
}