@charset "UTF-8";
/*========================================
 お勧め商品
=========================================*/
/* Topページ用（お勧め商品） */
/*
#divBottomArea #dvRecommend{margin-top:10px;width:337px;float:left;}
#divBottomArea #dvRecommend dd{margin-top:5px;}
#divBottomArea #dvRecommend dd ul li.thumnail{
	width:80px;
	margin-right:5px;
	padding:10px 0px;
	text-align:center;
	border:solid 1px #ccc;
	float:left;
}
#divBottomArea #dvRecommend dd ul li.productInfo{line-height:1.5;}
.soldout {color:#FF0000;word-wrap:normal;}
*/
/* 商品詳細ページ用（お勧め商品） */
.tblLayout_ProductDetail #dvRecommend dl dd, .tblLayout_ProductList #dvRecommend dl dd {
  margin-right: 5px; }
  .tblLayout_ProductDetail #dvRecommend dl dd.productInfoList ul li, .tblLayout_ProductList #dvRecommend dl dd.productInfoList ul li {
    margin: 1px 0px;
    line-height: 1.4; }
    .tblLayout_ProductDetail #dvRecommend dl dd.productInfoList ul li.thumnail, .tblLayout_ProductList #dvRecommend dl dd.productInfoList ul li.thumnail {
      text-align: center;
      width: 39px;
      border: solid 1px #ccc;
      float: left;
      margin-right: 3px;
      padding: 2px 0px; }
    .tblLayout_ProductDetail #dvRecommend dl dd.productInfoList ul li.productInfo, .tblLayout_ProductList #dvRecommend dl dd.productInfoList ul li.productInfo {
      width: 113px;
      float: right; }
  .tblLayout_ProductDetail #dvRecommend dl dd.toList, .tblLayout_ProductList #dvRecommend dl dd.toList {
    text-align: right; }

/* 商品一覧ページ用（お勧め商品） */
/*========================================
 商品ランキング
=========================================*/
/* Topページ、商品一覧ページ、商品詳細ページ */
#dvSalesRanking {
  width: 164px; }
  #dvSalesRanking dl dd {
    margin-right: 5px; }
    #dvSalesRanking dl dd.productInfo ul li {
      margin: 1px 0px; }
      #dvSalesRanking dl dd.productInfo ul li ul li.thumnail {
        text-align: center;
        width: 39px;
        border: solid 1px #ccc;
        float: left;
        margin-right: 3px;
        padding: 2px 0px; }
      #dvSalesRanking dl dd.productInfo ul li ul li.productName {
        width: 113px;
        float: right; }
    #dvSalesRanking dl dd.toList {
      text-align: right; }

/*========================================
 商品検索ボックス
=========================================*/
/* Topページ、商品一覧ページ、商品詳細ページ */
#dvProductSearch {
  background: url(../../Contents/ImagesPkg/searchbox_bg.jpg) left top repeat-y;
  margin-bottom: 10px;
  padding: 0; }
  #dvProductSearch dl {
    background: url(../../Contents/ImagesPkg/searchbox_btm.jpg) left bottom no-repeat;
    margin: 0;
    padding: 0;
    padding-bottom: 5px; }
    #dvProductSearch dl dd {
      padding: 0;
      margin: 3px 5px; }
  #dvProductSearch select {
    width: 150px; }
  #dvProductSearch input.text {
    width: 100px; }

/*========================================
 商品詳細検索ボックス
=========================================*/
/* Topページ、商品一覧ページ、商品詳細ページ */
.dvProductAdvancedSearch {
  margin-bottom: 20px; }
  .dvProductAdvancedSearch .searchBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .dvProductAdvancedSearch .searchBox_list {
      cursor: pointer;
      width: 180px;
      padding: 0 0 10px 20px;
      border-bottom: 2px solid #C7C7C7;
      position: relative;
      margin-right: 20px; }
      .dvProductAdvancedSearch .searchBox_list h3 {
        font-size: 12px;
        font-weight: bold;
        color: #000; }
        .dvProductAdvancedSearch .searchBox_list h3 img {
          width: 16px;
          margin-left: 10px;
          vertical-align: text-top; }
      .dvProductAdvancedSearch .searchBox_list:after {
        content: "";
        position: absolute;
        top: 0;
        right: 10px;
        margin: auto;
        z-index: 1;
        display: block;
        width: 12px;
        height: 12px;
        -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
        border-top: 1px solid #000;
        border-right: 1px solid #000; }
      .dvProductAdvancedSearch .searchBox_list:first-child img {
        width: 25px; }
      .dvProductAdvancedSearch .searchBox_list.on {
        position: relative; }
        .dvProductAdvancedSearch .searchBox_list.on::before {
          content: "";
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 0px;
          -webkit-animation: borderSearch .5s ease 0s forwards;
          animation: borderSearch .5s ease 0s forwards;
          border-bottom: 2px solid #081D5C; }
        .dvProductAdvancedSearch .searchBox_list.on::after {
          -webkit-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
          transform: rotate(135deg);
          -webkit-animation: arrowRotate .5s ease 0s forwards;
          animation: arrowRotate .5s ease 0s forwards;
          top: 7px; }

@-webkit-keyframes borderSearch {
  0% {
    width: 0%; }
  100% {
    width: 200px; } }

@keyframes borderSearch {
  0% {
    width: 0%; }
  100% {
    width: 200px; } }

@-webkit-keyframes arrowRotate {
  0% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); }
  100% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); } }

@keyframes arrowRotate {
  0% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); }
  100% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); } }

.pageAdvancedSearch .dvProductAdvancedSearch h3 {
  cursor: default; }

.dvProductAdvancedSearch .toogle {
  background-color: #fff;
  display: none;
  margin-top: 10px;
  padding: 40px 0 50px; }
  .dvProductAdvancedSearch .toogleBox {
    width: 900px;
    margin: 0 auto; }
    .dvProductAdvancedSearch .toogleBox h4 {
      font-size: 14px;
      font-weight: bold;
      line-height: 1;
      padding-bottom: 10px;
      width: 100%;
      border-bottom: 2px solid #081D5C;
      margin-bottom: 25px; }
    .dvProductAdvancedSearch .toogleBox_word {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 40px; }
      .dvProductAdvancedSearch .toogleBox_word--list {
        margin-right: 20px; }
        .dvProductAdvancedSearch .toogleBox_word--list p {
          font-size: 14px;
          line-height: 1;
          font-weight: bold; }
      .dvProductAdvancedSearch .toogleBox_word .sort-word input {
        width: 600px;
        height: 40px;
        border: 1px solid #707070;
        padding: 14px 10px;
        border-radius: 0; }
    .dvProductAdvancedSearch .toogleBox_category {
      /*&--box{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &--list{
          width: 210px;
          padding-bottom: 10px;
          border-bottom: 1px solid #C7C7C7;
          cursor: pointer;
          margin-bottom: 26px;

          ul{
            display: flex;
            align-items: center;

            li{
              &:first-child{
                width: 80px;
                margin-right: 10px;

                img{
                  width: 100%;
                }
              }

              p{
                font-size: 12px;
                line-height: 1;
                letter-spacing: 0.01em;

                span{
                  display: block;
                  margin-top: 5px;
                  font-size: 12px;
                  line-height: 1;
                  letter-spacing: 0;
                }
              }
            }
          }

          &:nth-last-child(-n + 4){
            margin-bottom: 0;
          }

          &.on{
            background: #E5DAD4;
          }
        }
      }*/ }
      .dvProductAdvancedSearch .toogleBox_category .sort-category {
        height: 247px;
        position: relative; }
        .dvProductAdvancedSearch .toogleBox_category .sort-category p {
          font-size: 12px;
          line-height: 1;
          letter-spacing: 0.01em;
          cursor: pointer; }
          .dvProductAdvancedSearch .toogleBox_category .sort-category p span {
            display: block;
            margin-top: 5px;
            font-size: 12px;
            line-height: 1;
            letter-spacing: 0; }
          .dvProductAdvancedSearch .toogleBox_category .sort-category p:nth-child(2) {
            position: absolute;
            top: 23px;
            left: 91px; }
          .dvProductAdvancedSearch .toogleBox_category .sort-category p:nth-child(3) {
            position: absolute;
            top: 23px;
            left: 322px; }
      .dvProductAdvancedSearch .toogleBox_category select {
        width: 100%;
        height: 100%;
        border: none;
        display: inline-block;
        outline: none; }
        .dvProductAdvancedSearch .toogleBox_category select option {
          width: 210px;
          height: 80px;
          padding-bottom: 10px;
          border-bottom: 1px solid #C7C7C7;
          cursor: pointer;
          display: inline-block; }
          .dvProductAdvancedSearch .toogleBox_category select option ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center; }
            .dvProductAdvancedSearch .toogleBox_category select option ul li:first-child {
              width: 80px;
              margin-right: 10px; }
              .dvProductAdvancedSearch .toogleBox_category select option ul li:first-child img {
                width: 100%; }
          .dvProductAdvancedSearch .toogleBox_category select option:nth-child(2) {
            position: absolute;
            top: 0;
            left: 0;
            background: url(../../Contents/ImagesPkg/user/lineup01.jpg) no-repeat;
            background-size: 80px; }
          .dvProductAdvancedSearch .toogleBox_category select option:nth-child(3) {
            position: absolute;
            top: 0;
            left: 230px;
            background: url(../../Contents/ImagesPkg/user/lineup02.jpg) no-repeat;
            background-size: 80px; }
          .dvProductAdvancedSearch .toogleBox_category select option:nth-child(4) {
            position: absolute;
            top: 0;
            right: 230px;
            background: url(../../Contents/ImagesPkg/user/lineup03.jpg) no-repeat;
            background-size: 80px; }
          .dvProductAdvancedSearch .toogleBox_category select option:nth-child(5) {
            position: absolute;
            top: 0;
            right: 0;
            background: url(../../Contents/ImagesPkg/user/lineup04.jpg) no-repeat;
            background-size: 80px; }
          .dvProductAdvancedSearch .toogleBox_category select option:nth-child(6) {
            position: absolute;
            top: 117px;
            left: 0;
            background: url(../../Contents/ImagesPkg/user/lineup05.jpg) no-repeat;
            background-size: 80px; }
          .dvProductAdvancedSearch .toogleBox_category select option:nth-child(7) {
            position: absolute;
            top: 117px;
            left: 230px;
            background: url(../../Contents/ImagesPkg/user/lineup06.jpg) no-repeat;
            background-size: 80px; }
          .dvProductAdvancedSearch .toogleBox_category select option:nth-child(8) {
            position: absolute;
            top: 117px;
            right: 230px;
            background: url(../../Contents/ImagesPkg/user/lineup07.jpg) no-repeat;
            background-size: 80px; }
          .dvProductAdvancedSearch .toogleBox_category select option:nth-child(9) {
            position: absolute;
            top: 117px;
            right: 0;
            background: url(../../Contents/ImagesPkg/user/lineup08.jpg) no-repeat;
            background-size: 80px; }
          .dvProductAdvancedSearch .toogleBox_category select option:selected {
            background: #E5DAD4; }
    .dvProductAdvancedSearch .toogleBox_column {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .dvProductAdvancedSearch .toogleBox_column--price {
        width: 210px; }
        .dvProductAdvancedSearch .toogleBox_column--price ul li {
          margin-bottom: 20px; }
          .dvProductAdvancedSearch .toogleBox_column--price ul li input {
            display: none; }
          .dvProductAdvancedSearch .toogleBox_column--price ul li input + label {
            padding-left: 30px;
            font-size: 12px;
            color: #333;
            font-family: futura-pt, "游ゴシック体", YuGothic, "游ゴシック Medium", "ヒラギノ角ゴ Pro W3", "HiraKakuPro-W3", "Hiragino Kaku Gothic Pro", HiraKakuProN-W3, sans-serif;
            vertical-align: middle;
            position: relative;
            padding-top: 4px; }
            .dvProductAdvancedSearch .toogleBox_column--price ul li input + label::before {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              width: 20px;
              height: 20px;
              border: 1px solid #707070;
              border-radius: 50%; }
          .dvProductAdvancedSearch .toogleBox_column--price ul li input:checked + label::after {
            content: "";
            display: block;
            position: absolute;
            top: 3px;
            left: 3px;
            width: 14px;
            height: 14px;
            background: #081D5C;
            border: 1px solid #707070;
            border-radius: 50%; }
          .dvProductAdvancedSearch .toogleBox_column--price ul li input:checked + label.on::after {
            content: ""; }
      .dvProductAdvancedSearch .toogleBox_column--temp {
        width: 210px; }
        .dvProductAdvancedSearch .toogleBox_column--temp ul li {
          margin-bottom: 20px; }
          .dvProductAdvancedSearch .toogleBox_column--temp ul li input {
            display: none; }
          .dvProductAdvancedSearch .toogleBox_column--temp ul li input + label {
            padding-left: 30px;
            font-size: 12px;
            color: #333;
            font-family: futura-pt, "游ゴシック体", YuGothic, "游ゴシック Medium", "ヒラギノ角ゴ Pro W3", "HiraKakuPro-W3", "Hiragino Kaku Gothic Pro", HiraKakuProN-W3, sans-serif;
            vertical-align: middle;
            position: relative;
            padding-top: 4px; }
            .dvProductAdvancedSearch .toogleBox_column--temp ul li input + label::before {
              content: "";
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              width: 20px;
              height: 20px;
              border: 1px solid #707070;
              border-radius: 50%; }
          .dvProductAdvancedSearch .toogleBox_column--temp ul li input:checked + label::after {
            content: "";
            display: block;
            position: absolute;
            top: 3px;
            left: 3px;
            width: 14px;
            height: 14px;
            background: #081D5C;
            border: 1px solid #707070;
            border-radius: 50%; }
      .dvProductAdvancedSearch .toogleBox_column--keyword {
        width: 440px; }
        .dvProductAdvancedSearch .toogleBox_column--keyword ul {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
          .dvProductAdvancedSearch .toogleBox_column--keyword ul li {
            margin: 0 10px 15px 0;
            padding: 6px 40px 6px 20px;
            background: #F5F5F5;
            cursor: pointer; }
            .dvProductAdvancedSearch .toogleBox_column--keyword ul li p {
              font-size: 12px; }
            .dvProductAdvancedSearch .toogleBox_column--keyword ul li.on {
              background: #081D5C;
              position: relative; }
              .dvProductAdvancedSearch .toogleBox_column--keyword ul li.on::after {
                content: "×";
                position: absolute;
                top: 6px;
                right: 10px;
                background: #fff;
                border: 1px #707070 solid;
                text-align: center;
                width: 18px;
                height: 18px;
                line-height: 16px;
                border-radius: 50%; }
              .dvProductAdvancedSearch .toogleBox_column--keyword ul li.on p {
                color: #fff; }
    .dvProductAdvancedSearch .toogleBox .buttonBox {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 420px;
      margin: 80px auto 0; }
      .dvProductAdvancedSearch .toogleBox .buttonBox_clear {
        width: 200px; }
        .dvProductAdvancedSearch .toogleBox .buttonBox_clear a {
          display: block;
          width: 100%;
          height: 40px;
          line-height: 40px;
          text-align: center;
          background: #EFF1F8;
          font-size: 14px;
          color: #555555;
          letter-spacing: 0.01em; }
      .dvProductAdvancedSearch .toogleBox .buttonBox_search {
        width: 200px;
        padding: 0; }
        .dvProductAdvancedSearch .toogleBox .buttonBox_search a {
          display: block;
          width: 100%;
          height: 40px;
          line-height: 40px;
          text-align: center;
          background: #081D5C;
          font-size: 14px;
          color: #fff;
          letter-spacing: 0.01em; }

::-webkit-input-placeholder {
  color: #888888;
  font-size: 12px; }

:-ms-input-placeholder {
  color: #888888;
  font-size: 12px; }

::-ms-input-placeholder {
  color: #888888;
  font-size: 12px; }

::placeholder {
  color: #888888;
  font-size: 12px; }

.pageAdvancedSearch .dvProductAdvancedSearch .toogle {
  display: block; }

.dvProductAdvancedSearch .button {
  text-align: center;
  padding: 5px 0; }

.dvProductAdvancedSearch input[radio] {
  vertical-align: top; }

/*========================================
 カテゴリ検索ボックス
=========================================*/
/* Topページ、商品一覧ページ、商品詳細ページ */
#dvCategorySearch {
  background: url(../../Contents/ImagesPkg/searchbox_bg.jpg) left top repeat-y;
  margin-bottom: 10px;
  width: 164px; }
  #dvCategorySearch dl {
    background: url(../../Contents/ImagesPkg/searchbox_btm.jpg) left bottom no-repeat;
    margin: 0;
    padding: 0;
    padding-bottom: 5px; }
  #dvCategorySearch ul {
    padding: 0;
    margin: 5px 0 2px 3px;
    text-align: left; }
    #dvCategorySearch ul li {
      list-style: none;
      background: url(../../Contents/ImagesPkg/mark_top.jpg) left top no-repeat;
      margin: 3px 0 0 2px;
      padding: 0 0 0 17px; }
    #dvCategorySearch ul ul {
      margin: 5px 0 0 -17px;
      padding: 0 3px 0 0; }
      #dvCategorySearch ul ul li {
        background: url(../../Contents/ImagesPkg/mark_circle.gif) left top no-repeat;
        padding: 0 0 0 9px;
        margin: 3px 0 0 9px; }
      #dvCategorySearch ul ul ul {
        margin: 5px 0 0 0;
        padding: 0; }

/*========================================
 商品表示履歴（最近チェックした商品）
=========================================*/
#dvCheckList {
  margin: 10px 0 30px;
  clear: both; }
  #dvCheckList h3 {
    font-family: futura-pt, "游ゴシック体", YuGothic, "游ゴシック Medium", "ヒラギノ角ゴ Pro W3", "HiraKakuPro-W3", "Hiragino Kaku Gothic Pro", HiraKakuProN-W3, sans-serif;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.01em;
    line-height: 1;
    text-align: center;
    color: #081D5C;
    margin-bottom: 30px; }
    #dvCheckList h3 span {
      font-size: 12px;
      display: block;
      margin-top: 10px;
      letter-spacing: 0;
      color: #333; }
  #dvCheckList .productCheckBox .productCheckList {
    width: 160px; }
    #dvCheckList .productCheckBox .productCheckList ul li p {
      font-size: 12px; }
      #dvCheckList .productCheckBox .productCheckList ul li p strike {
        color: #f00; }
    #dvCheckList .productCheckBox .productCheckList ul li.thumnail {
      position: relative;
      text-align: center; }
      #dvCheckList .productCheckBox .productCheckList ul li.thumnail img {
        width: 160px;
        height: 160px; }
      #dvCheckList .productCheckBox .productCheckList ul li.thumnail .soldout {
        color: #fff;
        word-wrap: normal;
        position: absolute;
        top: 45%;
        left: 0%;
        text-align: center;
        width: 100%;
        height: 26px;
        line-height: 26px;
        background-color: #000;
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        opacity: 0.5; }

/*========================================
 ミニカート
=========================================*/
/* Topページ、商品一覧ページ、商品詳細ページ */
/*
.dvMiniCart *{color:#333;margin:0px;padding:0px;}
.dvMiniCart{background:url(../../Contents/ImagesPkg/minicart_bg.jpg) top left repeat-y;padding:0px;margin-bottom:10px;}
.dvMiniCart h3{margin-top:0px;padding-top:0px;margin-bottom:10px;}
.dvMiniCart ul{background:url(../../Contents/ImagesPkg/minicart_bg_btm.jpg) bottom left no-repeat;padding-bottom:3px;margin:0px;}
.dvMiniCart li{margin:0px 8px 12px 8px;}
.dvMiniCart li span{color:#000000!important;}
.dvMiniCart li.productInfo span.productName{margin-bottom:5px;display:block!important;}
.dvMiniCart li.productInfo span.productPrice{margin-bottom:10px;display:block!important;}
.dvMiniCart li.productInfo{border-bottom:1px #ccc solid;display:block;margin:0px 8px 12px 8px;}
.dvMiniCart li.priceTotal{margin:0px 8px 12px 8px;text-align:right;}
.dvMiniCart li.vacant{margin:0px 8px 12px 8px;}
.dvMiniCart li.viewCartLink{margin:0px 8px 12px 8px;text-align:right;margin-bottom:5px;}
.dvMiniCart li span span{display:inline;padding:0px 3px;margin:0px;color:#ff0000!important;}
*/
.wrapMiniCart {
  display: none;
  position: absolute;
  right: 0;
  top: 48px;
  z-index: 999; }

.dvMiniCart {
  background-color: #fff;
  width: 300px;
  z-index: 102;
  text-align: left; }
  .dvMiniCart h3 {
    font-size: 116%;
    padding: 5px 10px 0; }
  .dvMiniCart .inner {
    padding: 5px 10px; }
  .dvMiniCart ul {
    border-top: 1px solid #333; }
    .dvMiniCart ul li {
      padding: 5px 0;
      line-height: 1.5;
      font-size: 12px; }
      .dvMiniCart ul li.productInfo {
        border-bottom: 1px dotted #333; }
        .dvMiniCart ul li.productInfo a {
          text-decoration: underline; }
          .dvMiniCart ul li.productInfo a:hover {
            text-decoration: none; }
        .dvMiniCart ul li.productInfo .pimg {
          float: left; }
        .dvMiniCart ul li.productInfo .productName, .dvMiniCart ul li.productInfo .productPrice {
          float: right;
          width: 215px; }
      .dvMiniCart ul li.priceTotal {
        text-align: right; }
      .dvMiniCart ul li.viewCartLink a {
        width: 100%;
        padding: 5px 0; }

/*========================================
 新着情報
=========================================*/
/* Topページ、商品一覧ページ、商品詳細ページ */
#dvInformationArea {
  margin: 10px auto;
  width: 96%; }

#dvInformationArea dl dt {
  font-size: 15px;
  padding: 5px; }

#InformationList #dvInformationArea dl dd {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  padding: 3px 0; }

#dvInformationArea dl dd ul li {
  line-height: 1.4; }

#InformationList #dvInformationArea dl dd ul li {
  line-height: 1.4; }
  #InformationList #dvInformationArea dl dd ul li span.infoDate {
    float: left;
    width: 90px;
    display: block;
    text-align: left;
    padding: 3px;
    font-weight: bold; }

#dvInformationArea dl dd ul li span.infoContent {
  float: right;
  width: 545px;
  display: block;
  text-align: left;
  padding: 3px; }
  #dvInformationArea dl dd ul li span.infoContent a {
    text-decoration: underline; }

#InformationList #dvInformationArea .InformationFooter {
  text-align: center;
  padding: 10px 0; }
