@charset "UTF-8";
/*==============================================================================================
 商品系コンテンツラッパー
==============================================================================================*/
#dvProductBox {
  position: relative;
}

#divTopArea {
  width: 100%;
  height: 100%;
  display: inline;
}

#divBottomArea {
  width: 100%;
  height: 100%;
  clear: both;
}

/*==============================================================================================
 * 各タグを初期化
==============================================================================================*/
#dvProductBox p, #dvProductBox pre, #dvProductBox address, #dvProductBox cite {
  margin: 0px;
  padding: 0px;
}

#dvProductBox ins {
  margin: 0px;
  padding: 0px;
  margin-left: 5px;
  font: 10px normal "メイリオ", "ヒラギノ", tahoma, "ＭＳ Ｐゴシック" !important;
  font: 9px normal "メイリオ" , "ヒラギノ",tahoma, "ＭＳ Ｐゴシック";
  color: #666 !important;
  text-decoration: none;
}

#dvProductBox h1 {
  font-weight: normal;
  line-height: 1.2;
  margin: 0px;
}

h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.2;
  margin: 0px;
}

#dvProductBox h1 {
  font-weight: bold;
  font-size: 16px;
  padding: 2px 0px;
  border-style: solid;
  border-color: #ccc;
  border-width: 0px;
  border-bottom-width: 0px;
}

#dvProductBox h1.img {
  border: none;
  margin: 10px;
}

#dvProductBox h2 {
  margin: 3px;
  font-weight: normal;
  font-size: 14px;
}

h3 {
  font-weight: normal;
  font-size: 14px;
}

#dvProductBox a:link, #dvProductBox a:visited {
  color: #0069B0;
  line-height: 1.4;
  text-decoration: none;
}

#dvProductBox a:hover {
  color: #0069B0;
  line-height: 1.4;
  text-decoration: underline;
}

#dvProductBox a:active {
  color: #0069B0;
  line-height: 1.4;
}

#dvProductBox select {
  background-color: #fff;
}

/*==============================================================================================
 商品一覧左ラッパー領域
==============================================================================================*/
#dvProductContents {
  width: 510px;
  position: relative;
  display: inline;
  float: left;
}

/*----------------------------------------------------------------------------------------------
 商品タイムセールス一覧ページコンテンツ領域(dvProductContents内)
----------------------------------------------------------------------------------------------*/
#dvProductTimeSalesList {
  width: 510px;
  float: right;
}

/*----------------------------------------------------------------------------------------------
 商品一覧ページコンテンツ領域(dvProductContents内)
----------------------------------------------------------------------------------------------*/
#dvProductList {
  width: 510px;
  float: right;
  background: url(../Contents/ImagesPkg/center_bg.jpg) top left repeat-y;
}

#dvProductListTop {
  background: url(../Contents/ImagesPkg/center_bg_t.jpg) top left no-repeat;
  padding-top: 10px;
}

#dvProductListBottom {
  background: url(../Contents/ImagesPkg/center_bg_btm.jpg) bottom left no-repeat;
  padding-bottom: 10px;
}

/*for IE5\*/
* html #dvProductListBottom {
  height: 100%;
}

/**/
/* 商品パンくず */
.productClumbs {
  margin: 5px 10px;
  position: relative;
}

.productClumbs li {
  float: left;
  padding: 0px 2px;
}

/* SNSボタン */
.snsList {
  margin: 10px 0;
  position: relative;
}

.snsList li {
  float: left;
  padding: 0px 2px;
}

/* 子カテゴリーリスト */
.productCategoryChilds {
  margin: 5px 10px;
  position: relative;
}

.productCategoryChilds span {
  padding: 0px 0px 0px 0px;
}

/* ソートボックス */
.toogle {
  background-color: #fff;
  display: none;
  margin-top: 10px;
  padding: 40px 0 50px;
}

@media (max-width: 768px) {
  .toogle {
    padding: 10px;
  }
}

.toogleBox {
  width: 900px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .toogleBox {
    width: 100%;
  }
}

.toogleBox_change {
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .toogleBox_change {
    padding: 10px 0 5px;
  }
}

@media (max-width: 768px) {
  .toogleBox_change ul li {
    margin-bottom: 5px;
  }
}

.toogleBox_change ul li.active {
  color: #333;
  font-size: 12px;
  background-color: #F6F6F6;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
}

@media (max-width: 768px) {
  .toogleBox_change ul li.active {
    color: #fff;
    background-color: #081D5C;
    padding: 0;
    height: 42px;
    line-height: 42px;
    text-align: center;
  }
}

.toogleBox_change ul li a {
  display: block;
  background-color: #E5DAD4;
  font-size: 12px;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
}

@media (max-width: 768px) {
  .toogleBox_change ul li a {
    background-color: #F5F5F5;
    padding: 0;
    height: 42px;
    line-height: 42px;
    text-align: center;
  }
}

.toogleBox_change ul li a:hover {
  background-color: #F6F6F6;
  opacity: 1;
  color: #333;
}

.toogleBox_change ul li:first-child {
  display: none;
}

.toogleBox_change ul li:last-child {
  display: none;
}

.toogleBox_product {
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .toogleBox_product {
    padding: 10px 0 5px;
  }
}

@media (max-width: 768px) {
  .toogleBox_product ul li {
    margin-bottom: 5px;
  }
}

.toogleBox_product ul li.active {
  color: #333;
  font-size: 12px;
  background-color: #F6F6F6;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
}

@media (max-width: 768px) {
  .toogleBox_product ul li.active {
    color: #fff;
    background-color: #081D5C;
    padding: 0;
    height: 42px;
    line-height: 42px;
    text-align: center;
  }
}

.toogleBox_product ul li a {
  display: block;
  background-color: #E5DAD4;
  font-size: 12px;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
}

@media (max-width: 768px) {
  .toogleBox_product ul li a {
    background-color: #F5F5F5;
    padding: 0;
    height: 42px;
    line-height: 42px;
    text-align: center;
  }
}

.toogleBox_product ul li a:hover {
  background-color: #F6F6F6;
  opacity: 1;
  color: #333;
}

.toogleBox_product ul li:nth-child(2) {
  display: none;
}

.toogle-2 {
  margin: 0;
  background-color: #E5DAD4;
  width: 200px;
  position: absolute;
  top: -20px;
  left: 220px;
  z-index: 2;
  -webkit-box-shadow: 0px 2px 10px -5px #000000;
  box-shadow: 0px 2px 10px -5px #000000;
  padding: 0;
}

@media (max-width: 768px) {
  .toogle-2 {
    margin: -20px auto 20px;
    background-color: #FFFFFF;
    width: 100%;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: inherit;
    top: inherit;
    left: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.toogle-3 {
  margin: 0;
  background-color: #E5DAD4;
  width: 220px;
  position: absolute;
  top: -20px;
  left: 440px;
  z-index: 2;
  -webkit-box-shadow: 0px 2px 10px -5px #000000;
  box-shadow: 0px 2px 10px -5px #000000;
  padding: 0;
}

@media (max-width: 768px) {
  .toogle-3 {
    margin: -20px auto 20px;
    background-color: #FFFFFF;
    width: 100%;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: inherit;
    top: inherit;
    left: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.sortWrap {
  position: relative;
}

/*========================================
 商品リストエリア
=========================================*/
#dvProductListArea {
  /*
  width: 490px;
  margin-left: 10px;
  */
  width: 100%;
  clear: both;
}

#dvProductListArea .title input, #dvProductListArea .title img {
  vertical-align: middle;
}

.pager, .pager2 {
  margin: 0px 10px;
  display: block;
  border-style: solid;
  border-color: #ccc;
  border-width: 0px;
}

.pager {
  padding-bottom: 2px;
  border-bottom: solid 1px #ccc;
}

.pager2 {
  margin: 2px 10px 15px 10px;
}

/*----------------------------------------
 写真付きリスト
-----------------------------------------*/
/* 行ごとのリスト */
.listProduct ul.productListBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.listProduct ul.productListBox li.productList {
  border-top: 1px solid #C7C7C7;
  border-left: 1px solid #C7C7C7;
  border-bottom: 1px solid #C7C7C7;
  position: relative;
  width: 273.75px;
}

@media (max-width: 1100px) {
  .listProduct ul.productListBox li.productList {
    width: 24.8%;
  }
}

@media (max-width: 768px) {
  .listProduct ul.productListBox li.productList {
    border-left: none;
    border-right: 1px solid #C7C7C7;
    width: 49.8%;
  }
}

@media (max-width: 768px) {
  .listProduct ul.productListBox li.productList:nth-child(2n) {
    border-right: none;
  }
}

.listProduct ul.productListBox li.productList:last-child {
  border-right: 1px solid #C7C7C7;
}

.listProduct ul.productListBox li.productList:nth-child(4n) {
  border-right: 1px solid #C7C7C7;
}

@media (max-width: 768px) {
  .listProduct ul.productListBox li.productList:nth-child(4n) {
    border-right: none;
  }
}

@media (max-width: 768px) {
  .listProduct ul.productListBox li.productList:nth-child(n + 3) {
    border-top: none;
  }
}

.listProduct ul.productListBox li.productList:nth-child(n + 5) {
  border-top: none;
}

.listProduct ul.productListBox li.productList ul.productListBox_inner {
  padding: 10px 10px 41px 10px;
}

@media (max-width: 768px) {
  .listProduct ul.productListBox li.productList ul.productListBox_inner {
    padding: 10px 6px 30px;
  }
}

.listProduct ul.productListBox li.productList ul.productListBox_inner li {
  font-family: futura-pt, dnp-shuei-gothic-kin-std, "游ゴシック体", YuGothic, "游ゴシック Medium", "ヒラギノ角ゴ Pro W3", "HiraKakuPro-W3", "Hiragino Kaku Gothic Pro", HiraKakuProN-W3, sans-serif;
}

.listProduct ul.productListBox li.productList ul.productListBox_inner ul li.plPhoto {
  width: 255px;
  margin: 0 auto 20px;
}

@media (max-width: 1100px) {
  .listProduct ul.productListBox li.productList ul.productListBox_inner ul li.plPhoto {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .listProduct ul.productListBox li.productList ul.productListBox_inner ul li.plPhoto {
    margin: 0 auto 5px;
  }
}

.listProduct ul.productListBox li.productList ul.productListBox_inner ul li.plPhoto img {
  width: 100%;
}

.listProduct ul.productListBox li.productList ul.productListBox_inner ul li.plPhoto .soldout {
  color: #333;
  position: absolute;
  bottom: 15px;
  left: 10px;
  font-size: 11px;
}

@media (max-width: 768px) {
  .listProduct ul.productListBox li.productList ul.productListBox_inner ul li.plPhoto .soldout {
    bottom: 10px;
    left: 6px;
  }
}

.listProduct ul.productListBox li.productList ul.productListBox_inner ul li.plProductInfo li.plName h3 {
  font-size: 13px;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .listProduct ul.productListBox li.productList ul.productListBox_inner ul li.plProductInfo li.plName h3 {
    font-size: 12px;
  }
}

.listProduct ul.productListBox li.productList ul.productListBox_inner ul li.plProductInfo li.plName img {
  display: none;
}

.listProduct ul.productListBox li.productList ul.productListBox_inner ul li.plProductInfo li.plName span {
  display: none;
}

.listProduct ul.productListBox li.productList ul.productListBox_inner ul li.plProductInfo li.plExcerpt {
  display: none;
}

.listProduct ul.productListBox li.productList ul.productListBox_inner ul li.plProductInfo li.plPrice {
  margin-bottom: 20px;
}

.listProduct ul.productListBox li.productList ul.productListBox_inner ul li.plProductInfo li.plPrice .productPrice {
  font-size: 16px;
  line-height: 1.8;
}

@media (max-width: 768px) {
  .listProduct ul.productListBox li.productList ul.productListBox_inner ul li.plProductInfo li.plPrice .productPrice {
    font-size: 14px;
    font-weight: 500;
  }
}

.listProduct ul.productListBox li.productList ul.productListBox_inner ul li.plProductInfo li.plPrice span.price_tax {
  font-size: 12px;
  margin-left: 5px;
}

@media (max-width: 768px) {
  .listProduct ul.productListBox li.productList ul.productListBox_inner ul li.plProductInfo li.plPrice span.price_tax {
    font-size: 9px;
  }
}

.listProduct ul.productListBox li.productList ul.productListBox_inner ul li.plProductInfo li.plPrice strike {
  color: #f00;
}

.listProduct ul.productListBox li.productList ul.productListBox_inner ul li.plProductInfo li.plPrice .favoriteRegistration {
  display: none;
}

/* 商品ごとのブロック */
/* 商品一覧サムネイル(80px以下のものを配置するものとする) */
/* 在庫切れ */
/* 商品情報(要素が複数あるためリスト構造とする) */
/*----------------------------------------
 ウインドウショッピング
-----------------------------------------*/
.windowColumn {
  border-bottom: solid 1px #ccc;
}

#dvProductListArea ul li.windowShopping {
  width: 155px;
  margin: 8px 2px 0px 2px;
  padding: 0px;
  float: left;
}

#dvProductListArea ul li.windowShopping li {
  text-align: center;
}

#dvProductListArea ul li.windowShopping li.wsPhoto {
  text-align: center;
  margin: 0;
  padding: 0;
}

#dvProductListArea ul li.windowShopping li.wsPhoto img {
  margin: 0;
}

#dvProductListArea ul li.windowShopping li.wsName {
  padding: 0px 3px 2px 3px;
}

#dvProductListArea ul li.windowShopping li.wsPrice {
  padding: 0px 3px 5px 3px;
}

/* バリエーション選択カート投入一覧 */
#divProductListMultiVariation table td a {
  font-size: 11px;
  color: #081D5C;
  text-decoration: underline;
}

@media (max-width: 768px) {
  #divProductListMultiVariation table td a {
    font-size: 10px;
    font-weight: 600;
  }
}

#divProductListMultiVariation table td strike {
  color: #f00;
}

#divProductListMultiVariation .btnClose {
  text-align: center;
  margin: 10px;
}

/*----------------------------------------
 闇市
-----------------------------------------*/
.divClosedmarketLogin {
  text-align: center;
}

.divClosedmarketLogin .password {
  padding: 5px;
}

/*==============================================================================================
 商品詳細コンテンツラッパー領域
==============================================================================================*/
#detailBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

@media (max-width: 768px) {
  #detailBox {
    display: block;
  }
}

#detailBox::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100vw;
  border-bottom: 1px solid #C7C7C7;
}

@media (max-width: 768px) {
  #detailBox::after {
    content: none;
  }
}

#dvProductDetail {
  width: 510px;
  padding: 0;
  margin: 0;
  background: url(../Contents/ImagesPkg/center_bg.jpg) top left repeat-y;
}

#dvProductDetailTop {
  background: url(../Contents/ImagesPkg/center_bg_t.jpg) top left no-repeat;
  padding-top: 10px;
}

#dvProductDetailBottom {
  background: url(../Contents/ImagesPkg/center_bg_btm.jpg) bottom left no-repeat;
  padding-bottom: 10px;
}

* html #dvProductDetailBottom {
  height: 100%;
}

/*for IE5\*/
#dvProductDetailArea #dvProductSubInfo {
  margin-top: 3px;
}

#dvProductDetailArea #dvProductSubInfo .productDetailId {
  float: left;
}

#dvProductDetailArea #dvProductSubInfo .icon {
  float: right;
}

#dvProductDetailArea h2 {
  font-size: 18px;
  margin-bottom: 10px;
  font-family: futura-pt, dnp-shuei-gothic-kin-std, "游ゴシック体", YuGothic, "游ゴシック Medium", "ヒラギノ角ゴ Pro W3", "HiraKakuPro-W3", "Hiragino Kaku Gothic Pro", HiraKakuProN-W3, sans-serif;
  color: #333;
  font-weight: bold;
}

@media (max-width: 768px) {
  #dvProductDetailArea h2 {
    font-size: 15px;
  }
}

#dvProductDetailArea .icon {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  #dvProductDetailArea .icon {
    text-align: left;
  }
}

#dvProductDetailArea .icon img {
  height: 20px;
}

@media (max-width: 768px) {
  #dvProductDetailArea .icon img {
    margin-right: 5px;
  }
}

#dvProductDetailArea .wrapProductPrice {
  margin: 10px 0 20px;
}

#dvProductDetailArea .wrapProductPrice p {
  line-height: 1;
}

#dvProductDetailArea .wrapProductPrice p strike {
  color: #f00;
}

#dvProductDetailArea .description {
  margin: 10px 0;
}

#dvProductDetailArea .description * {
  line-height: 1.5;
}

#dvProductDetailArea #detailImage {
  width: 550px;
}

@media (max-width: 1100px) {
  #dvProductDetailArea #detailImage {
    width: 42%;
  }
}

@media (max-width: 920px) {
  #dvProductDetailArea #detailImage {
    width: 404px;
  }
}

@media (max-width: 768px) {
  #dvProductDetailArea #detailImage {
    width: 100%;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

#dvProductDetailArea #detailImage .mainImage #zoomPicture {
  width: 550px;
  height: 550px;
  margin-bottom: 20px;
  /*border: 1px solid #ccc;*/
}

@media (max-width: 1100px) {
  #dvProductDetailArea #detailImage .mainImage #zoomPicture {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  #dvProductDetailArea #detailImage .mainImage #zoomPicture {
    margin-bottom: 10px;
  }
}

#dvProductDetailArea #detailImage .mainImage .soldout {
  color: #fff;
  word-wrap: normal;
  display: block;
  position: absolute;
  top: 220px;
  text-align: center;
  width: 550px;
  height: 35px;
  line-height: 35px;
  background-color: #000;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}

@media (max-width: 768px) {
  #dvProductDetailArea #detailImage .mainImage .soldout {
    top: 45%;
    width: 93.75%;
  }
}

#dvProductDetailArea #detailImage .btnListContact li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: center;
  width: 49.5%;
  margin-top: 1px;
}

#dvProductDetailArea #detailImage .btnListContact li:first-child {
  margin-right: 1px;
}

#dvProductDetailArea #detailImage .btnListContact li a {
  display: block;
  padding: 10px 0;
  background-color: #e1e1e1;
  color: #000;
  font-size: 12px;
  text-decoration: none;
}

#dvProductDetailArea #detailImage .btnListContact li a:hover {
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
}

#dvProductDetailArea #detailImage ul.subImage li {
  width: 102px;
  margin: 0 10px 0 0;
  float: left;
}

@media (max-width: 768px) {
  #dvProductDetailArea #detailImage ul.subImage li {
    width: 19%;
    margin: 0 5px 0 0;
    float: left;
  }
}

#dvProductDetailArea #detailImage ul.subImage li:nth-child(5n) {
  margin-right: 0;
}

#dvProductDetailArea #detailImage ul.subImage li img {
  width: 100%;
}

#dvProductDetailArea #detailOne {
  width: 489px;
  float: right;
  padding-top: 10px;
  border-left: 1px solid #C7C7C7;
  padding-left: 20px;
}

@media (max-width: 1100px) {
  #dvProductDetailArea #detailOne {
    width: 52%;
  }
}

@media (max-width: 920px) {
  #dvProductDetailArea #detailOne {
    width: 515px;
  }
}

@media (max-width: 768px) {
  #dvProductDetailArea #detailOne {
    width: 100%;
    border-left: none;
    border-top: 1px solid #C7C7C7;
    padding: 20px 10px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 20px;
  }
}

#dvProductDetailArea #detailOne .wrapDetailImage .unit {
  clear: both;
  margin-bottom: 10px;
}

#dvProductDetailArea #detailOne .wrapDetailImage .unit .title {
  font-weight: bold;
  padding: 3px;
}

#dvProductDetailArea #detailOne .wrapDetailImage .btnDetailpopUp {
  clear: both;
  padding: 10px 0;
}

#dvProductDetailArea #detailOne ul.variationImage li, #dvProductDetailArea #detailOne ul.subImage li {
  vertical-align: middle;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  height: 60px;
  width: 60px;
  padding: 0px;
  margin: 1px;
  float: left;
}

#dvProductDetailArea #detailOne ul.variationImage li img, #dvProductDetailArea #detailOne ul.subImage li img {
  width: 60px;
}

/* 在庫切れ */
/* 販売価格 */
#detailOne .productSellInfo {
  clear: both;
}

#detailOne .productSellInfo .productStock {
  background: url("../Contents/ImagesPkg/arwR.png") no-repeat left 2px;
  padding-left: 18px;
  line-height: 1;
}

#detailOne .productSellInfo .productStock a {
  text-decoration: underline;
}

#detailOne .productSellInfo .productStock a:hover {
  text-decoration: none;
}

#detailOne .productPrice span {
  font-size: 18px;
  color: #333;
}

@media (max-width: 768px) {
  #detailOne .productPrice span {
    font-size: 16px;
  }
}

#detailOne .productPrice span.productPrice_tax {
  font-size: 12px;
}

@media (max-width: 768px) {
  #detailOne .productPrice span.productPrice_tax {
    font-size: 10px;
  }
}

#detailOne .productPoint {
  padding: 0px;
  margin: 0;
}

#detailOne .productSellInfo table {
  width: 100%;
  font-size: 93%;
  border-top: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
}

#detailOne .productSellInfo table th {
  padding: 5px 7px;
  border-left: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  background-color: #ececec;
  line-height: normal;
  font-weight: normal;
}

#detailOne .productSellInfo table td {
  padding: 5px 7px;
  border-bottom: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
  line-height: normal;
  vertical-align: middle;
  font-size: 15px;
}

#detailOne .productSellInfo table td .radioBtn {
  display: block;
}

#detailOne .detail_keywords h3 {
  font-family: futura-pt, dnp-shuei-gothic-kin-std, "游ゴシック体", YuGothic, "游ゴシック Medium", "ヒラギノ角ゴ Pro W3", "HiraKakuPro-W3", "Hiragino Kaku Gothic Pro", HiraKakuProN-W3, sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.01em;
  line-height: 1;
  text-align: left;
  color: #081D5C;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #detailOne .detail_keywords h3 {
    font-size: 15px;
    margin-bottom: 15px;
  }
}

#detailOne .detail_keywords h3 span {
  font-size: 12px;
  display: block;
  margin-top: 10px;
  letter-spacing: 0;
  color: #333;
}

@media (max-width: 768px) {
  #detailOne .detail_keywords h3 span {
    font-size: 11px;
    margin-top: 5px;
  }
}

#detailOne .detail_keywords ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  #detailOne .detail_keywords ul {
    margin: 0 0 40px;
    padding: 0 0 24px;
    border-bottom: 1px solid #C7C7C7;
  }
}

#detailOne .detail_keywords ul li {
  margin: 0 10px 15px 0;
  padding: 9px 20px;
  background: #081D5C;
  cursor: pointer;
}

@media (max-width: 768px) {
  #detailOne .detail_keywords ul li {
    margin: 0 6px 6px 0;
  }
}

#detailOne .detail_keywords ul li a {
  font-size: 12px;
  color: #fff;
}

@media (max-width: 768px) {
  #detailOne .detail_keywords ul li a {
    font-size: 11px;
  }
}

.selectValiation {
  margin: 10px 0;
  position: relative;
}

.selectValiation select {
  width: 180px;
  padding: 0px 0px 3px 0px;
}

.detail_set {
  margin: 30px 0 60px;
}

@media (max-width: 768px) {
  .detail_set {
    margin: 0 0 50px;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.detail_setTtl {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 1;
}

@media (max-width: 768px) {
  .detail_setTtl {
    font-size: 13px;
    margin-bottom: 15px;
  }
}

.detail_setBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-top: 1px solid #C7C7C7;
  border-bottom: 1px solid #C7C7C7;
}

@media (max-width: 768px) {
  .detail_setBox {
    border-bottom: none;
  }
}

.detail_setBox--list {
  border-bottom: 1px solid #C7C7C7;
  padding: 22.5px 16px 22.5px 0;
}

@media (max-width: 1100px) {
  .detail_setBox--list {
    width: 31%;
  }
}

@media (max-width: 768px) {
  .detail_setBox--list {
    width: 100%;
    padding: 11.5px 10px 11.5px 0;
  }
}

.detail_setBox--list:nth-child(3n+1):nth-last-child(-n+3) {
  border-bottom: none;
}

@media (max-width: 768px) {
  .detail_setBox--list:nth-child(3n+1):nth-last-child(-n+3) {
    border-bottom: 1px solid #C7C7C7;
  }
}

.detail_setBox--list:nth-child(3n+1):nth-last-child(-n+3) ~ .detail_setBox--list {
  border-bottom: none;
}

@media (max-width: 768px) {
  .detail_setBox--list:nth-child(3n+1):nth-last-child(-n+3) ~ .detail_setBox--list {
    border-bottom: 1px solid #C7C7C7;
  }
}

.detail_setBox--list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 350px;
}

@media (max-width: 1100px) {
  .detail_setBox--list ul {
    width: 100%;
  }
}

.detail_setBox--list ul li p {
  font-size: 12px;
}

@media (max-width: 768px) {
  .detail_setBox--list ul li p {
    font-size: 11px;
  }
}

.detail_setBox--list ul li p span {
  font-family: futura-pt, dnp-shuei-gothic-kin-std, "游ゴシック体", YuGothic, "游ゴシック Medium", "ヒラギノ角ゴ Pro W3", "HiraKakuPro-W3", "Hiragino Kaku Gothic Pro", HiraKakuProN-W3, sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #333;
  margin-bottom: 7px;
  display: block;
}

@media (max-width: 768px) {
  .detail_setBox--list ul li p span {
    font-size: 12px;
    margin-bottom: 5px;
  }
}

.detail_setBox--list ul li:first-child {
  width: 180px;
}

@media (max-width: 1100px) {
  .detail_setBox--list ul li:first-child {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .detail_setBox--list ul li:first-child {
    width: 25%;
  }
}

.detail_setBox--list ul li:first-child img {
  width: 100%;
}

.detail_setBox--list ul li:last-child {
  width: 160px;
}

@media (max-width: 1100px) {
  .detail_setBox--list ul li:last-child {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .detail_setBox--list ul li:last-child {
    width: 75%;
  }
}

/*
.selectValiationMatrix{background-color: #AAAAAA;padding:3;text-align:center;}
.selectValiationMatrix th{font-size: 9pt;}
.selectValiationMatrix span{color: #FFFFFF;font-weight: bold;}
*/
.detailAddcart_favo {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -45px;
  right: 170px;
}

@media (max-width: 768px) {
  .detailAddcart_favo {
    right: 22px;
  }
}

.detailAddcart_favo img {
  width: 100%;
}

.productAmount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .productAmount {
    margin-bottom: 20px;
  }
}

.productAmount_ttl {
  margin-right: 15px;
}

@media (max-width: 768px) {
  .productAmount_ttl {
    margin-right: 12px;
  }
}

.productAmount_ttl p {
  font-size: 12px;
  line-height: 1;
}

@media (max-width: 768px) {
  .productAmount_ttl p {
    font-size: 11px;
  }
}

.productAmount_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productAmount_button input {
  border-top: 1px #555555 solid;
  border-left: 1px #555555 solid;
  border-bottom: 1px #555555 solid;
  border-right: none;
  width: 40px;
  line-height: 40px;
  background: inherit;
  cursor: pointer;
  outline: none;
}

@media (max-width: 768px) {
  .productAmount_button input {
    -webkit-appearance: none;
    border-radius: 0;
  }
}

.productAmount_button input:last-child {
  border-right: 1px #555555 solid;
}

.productStock {
  padding: 2px;
}

.productCart {
  margin: 10px 0;
}

.addCart p {
  font-size: 13px;
}

.addCart p a {
  text-decoration: none !important;
}

.onlyBoutiques {
  font-size: 11px;
  color: #D6A00E;
  line-height: 1;
}

@media (max-width: 768px) {
  .onlyBoutiques {
    font-size: 10px;
    font-weight: 600;
  }
}

.onlyBoutiques_btn {
  width: 280px;
  height: 50px;
  line-height: 50px;
  font-size: 13px;
  color: #fff;
  background: #CCCCCC;
  text-align: center;
  font-weight: 600;
}

@media (max-width: 768px) {
  .onlyBoutiques_btn {
    width: 80%;
  }
}

.arrivalMail {
  margin: 10px 0;
}

.arrivalMail a {
  font-size: 13px;
}

/**************************************
#itemSwiperArea
**************************************/
#itemSwiperArea {
  display: block;
  width: 600px;
  position: fixed;
  left: 50%;
  top: 0;
  margin-left: -341px;
  z-index: 1001;
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@media (max-width: 768px) {
  #itemSwiperArea {
    width: 100%;
    left: 0;
    margin: 0 auto;
    right: 0;
  }
}

#itemSwiperArea #itemSwiper {
  width: 100%;
  margin-top: 230px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

@media (max-width: 768px) {
  #itemSwiperArea #itemSwiper {
    margin-top: 130px;
  }
}

#itemSwiperArea #itemSwiper .itemSwiperWrrapper {
  position: relative;
  width: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#itemSwiper .slider {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  width: 600px;
  background: #F7F7F7;
  border-radius: 10px;
  padding: 30px 0 40px;
}

@media (max-width: 768px) {
  #itemSwiper .slider {
    width: 90%;
    padding: 30px 10px 40px;
  }
}

#itemSwiper .slider_ttl {
  font-size: 18px;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  #itemSwiper .slider_ttl {
    font-size: 14px;
  }
}

#itemSwiper .slider_catch {
  font-size: 13px;
  line-height: 1;
  margin-bottom: 30px;
  text-align: center;
}

@media (max-width: 768px) {
  #itemSwiper .slider_catch {
    font-size: 12px;
    line-height: 1.5;
  }
}

#itemSwiper .slider_catch span {
  display: block;
  margin-top: 10px;
}

#itemSwiper .slider .input_checked input {
  vertical-align: middle;
  position: relative;
  padding-top: 4px;
  width: 22px;
  height: 22px;
  border: 1px solid #707070;
  border-radius: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  margin-right: 10px;
}

#itemSwiper .slider .input_checked input:checked::after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 14px;
  height: 14px;
  background: #081D5C;
  border: 1px solid #707070;
  border-radius: 50%;
}

#itemSwiper .slider .input_checked input:disabled::before {
  font-size: 20px;
  line-height: 30px;
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
  content: '';
  text-align: center;
}

#itemSwiper .slider .input_radio input {
  display: none;
}

#itemSwiper .slider .input_radio input + label {
  padding-left: 30px;
  font-size: 12px;
  color: #333;
  font-family: futura-pt, dnp-shuei-gothic-kin-std, "游ゴシック体", YuGothic, "游ゴシック Medium", "ヒラギノ角ゴ Pro W3", "HiraKakuPro-W3", "Hiragino Kaku Gothic Pro", HiraKakuProN-W3, sans-serif;
  vertical-align: middle;
  position: relative;
  padding-top: 4px;
}

#itemSwiper .slider .input_radio input + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #707070;
  border-radius: 50%;
  background: #fff;
}

#itemSwiper .slider .input_radio input:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 14px;
  height: 14px;
  background: #081D5C;
  border: 1px solid #707070;
  border-radius: 50%;
}

#itemSwiper .slider .input_radio input:checked + label.on::after {
  content: "";
}

#itemSwiper .slider .input_widthA:focus {
  outline: 0;
  border-color: #081D5C;
  background: #FCFADE;
  -webkit-box-shadow: 0px 2px 10px -5px #000000;
  box-shadow: 0px 2px 10px -5px #000000;
}

#itemSwiper .slider .input_widthA {
  width: 287px;
  height: 40px;
  padding-left: 10px;
  font-size: 13px;
  color: #333;
  font-family: futura-pt, dnp-shuei-gothic-kin-std, "游ゴシック体", YuGothic, "游ゴシック Medium", "ヒラギノ角ゴ Pro W3", "HiraKakuPro-W3", "Hiragino Kaku Gothic Pro", HiraKakuProN-W3, sans-serif;
  border: #888 1px solid;
  background: #fff;
  margin-top: 10px;
}

@media (max-width: 768px) {
  #itemSwiper .slider .input_widthA {
    width: 117%;
    height: 22px;
    padding: 15px 10px;
    -webkit-appearance: none;
    border-radius: 0;
    font-size: 16px;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    margin: 10px -38px 0;
  }
}

#itemSwiper .slider dl {
  width: 300px;
  margin: 0 auto;
}

#itemSwiper .slider dl dd {
  margin-bottom: 30px;
  text-align: left;
  font-size: 12px;
  color: #333;
  font-family: futura-pt, dnp-shuei-gothic-kin-std, "游ゴシック体", YuGothic, "游ゴシック Medium", "ヒラギノ角ゴ Pro W3", "HiraKakuPro-W3", "Hiragino Kaku Gothic Pro", HiraKakuProN-W3, sans-serif;
}

@media (max-width: 768px) {
  #itemSwiper .slider dl dd {
    margin-bottom: 10px;
  }
}

#itemSwiper .slider dl dd.checkarea {
  font-size: 14px;
}

#itemSwiper .slider .btnClose a {
  width: 300px;
}

@media (max-width: 768px) {
  #itemSwiper .slider .btnClose a {
    width: 80vw;
  }
}

/**** #swiperCloseBtn***************/
#swiperCloseBtn {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 170px;
  cursor: pointer;
  z-index: 1002;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  border: 1px #FFFFFF solid;
  border-radius: 50%;
}

@media (max-width: 768px) {
  #swiperCloseBtn {
    right: 10px;
    top: 70px;
  }
}

#swiperCloseBtn a {
  display: block;
  width: 100%;
  height: 100%;
}

#swiperCloseBtn:hover {
  opacity: .6;
}

#swiperCloseBtn::before,
#swiperCloseBtn::after {
  content: '';
  display: block;
  width: 15px;
  height: 1px;
  background: #ffffff;
  position: absolute;
}

#swiperCloseBtn::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 20px;
  left: 12.5px;
}

#swiperCloseBtn::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 19px;
  left: 12.5px;
}

/**** #swiperBg***************/
#swiperBg {
  display: block;
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/*#itemSwiperArea #itemSwiper .credit {
   display: flex;
  flex-flow: row wrap;
  justify-content: center;
}*/
#dvProductDetailArea #detailTwo, #dvProductDetailArea #detailThree, #dvProductDetailArea #detailFour {
  margin-top: 10px;
  clear: left;
}

#dvProductDetailArea #detailOne *, #dvProductDetailArea #detailTwo *, #dvProductDetailArea #detailThree *, #dvProductDetailArea #detailFour * {
  /*line-height:1.4;margin:3px auto;*/
}

#dvProductDetailArea #dvProductStock {
  margin: 10px 0 30px 0;
  clear: left;
}

#dvProductDetailArea #detailTwo {
  margin: 40px 0 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #C7C7C7;
}

@media (max-width: 768px) {
  #dvProductDetailArea #detailTwo {
    margin: 20px 0;
  }
}

#dvProductDetailArea #detailTwo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#dvProductDetailArea #detailTwo ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#dvProductDetailArea #detailTwo ul li p {
  font-size: 12px;
}

@media (max-width: 768px) {
  #dvProductDetailArea #detailTwo ul li p {
    font-size: 11px;
  }
}

#dvProductDetailArea #detailTwo ul li:nth-child(odd) {
  width: 86px;
  border-top: 1px solid #888888;
  border-left: 1px solid #888888;
  border-right: 1px solid #888888;
}

@media (max-width: 768px) {
  #dvProductDetailArea #detailTwo ul li:nth-child(odd) {
    width: 20%;
  }
}

#dvProductDetailArea #detailTwo ul li:nth-child(odd) p {
  margin: 0 auto;
}

#dvProductDetailArea #detailTwo ul li:nth-child(even) {
  width: 360px;
  border-top: 1px solid #888888;
  border-right: 1px solid #888888;
  padding: 30px 20px;
}

@media (max-width: 768px) {
  #dvProductDetailArea #detailTwo ul li:nth-child(even) {
    width: 73%;
    padding: 20px 10px;
  }
}

#dvProductDetailArea #detailTwo ul li:nth-last-child(-n + 2) {
  border-bottom: 1px solid #888888;
}

/* 付帯情報 */
.addInfo {
  overflow: hidden;
  width: 340px;
  margin: 0 0 40px;
}

@media (max-width: 768px) {
  .addInfo {
    width: 100%;
    margin: 0 0 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #C7C7C7;
  }
}

.addInfo-1 {
  position: relative;
}

.addInfo-1::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 1;
  display: block;
  width: 8px;
  height: 8px;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  border-top: 1px solid #555;
  border-right: 1px solid #555;
}

@media (max-width: 768px) {
  .addInfo-1::after {
    top: 18px;
  }
}

.addInfo-1:nth-child(7) {
  display: none;
}

.addInfo-1:nth-child(9) {
  display: none;
}

.addInfo select {
  width: 100%;
  height: 36px;
  cursor: pointer;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  border: 1px solid #555555;
  outline: none;
  background: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  font-size: 12px;
  color: #333;
  font-family: futura-pt, dnp-shuei-gothic-kin-std, "游ゴシック体", YuGothic, "游ゴシック Medium", "ヒラギノ角ゴ Pro W3", "HiraKakuPro-W3", "Hiragino Kaku Gothic Pro", HiraKakuProN-W3, sans-serif;
  padding-left: 10px;
  line-height: 34px;
  border-radius: 0;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .addInfo select {
    width: 123%;
    padding-left: 20px;
    line-height: 48px;
    height: 50px;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    margin: 0 -38px;
    font-size: 16px;
  }
}

.addInfo input {
  margin-bottom: 12px;
  width: 328px;
  height: 36px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  border: 1px solid #555555;
  outline: none;
  background: transparent;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  font-size: 12px;
  color: #333;
  font-family: futura-pt, dnp-shuei-gothic-kin-std, "游ゴシック体", YuGothic, "游ゴシック Medium", "ヒラギノ角ゴ Pro W3", "HiraKakuPro-W3", "Hiragino Kaku Gothic Pro", HiraKakuProN-W3, sans-serif;
  padding-left: 10px;
  line-height: 34px;
  border-radius: 0;
}

@media (max-width: 768px) {
  .addInfo input {
    margin-bottom: 20px;
    width: 116.5%;
    padding-left: 20px;
    line-height: 48px;
    height: 50px;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    margin: 0 -38px 12px;
    font-size: 16px;
  }
}

.addInfo_detail {
  text-align: right;
  font-size: 11px;
  color: #555555;
  text-decoration: underline;
  display: none;
}

@media (max-width: 768px) {
  .addInfo_detail {
    font-size: 10px;
  }
}

.detailOneTxt {
  font-size: 12px;
}

@media (max-width: 768px) {
  .detailOneTxt {
    padding: 0 7px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

#ctl00_ContentPlaceHolder1_rProductOptionValueSettings_ctl03_ddlProductOptionValueSetting,
#ctl00_ContentPlaceHolder1_rProductOptionValueSettings_ctl04_txtProductOptionValueSetting {
  display: none;
}

/* 在庫一覧 */
#dvProductStock {
  text-align: left;
}

#dvProductStock img {
  border: none;
}

#dvProductStock table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: solid 1px #ccc;
}

#dvProductStock #divSingleVariation table * {
  text-align: left;
}

#dvProductStock #divPluralVariation table * {
  text-align: center;
}

#dvProductStock table th {
  font-weight: normal;
  background-color: #ececec;
  border: solid 1px #e1e1e1;
  padding: 10px;
}

#dvProductStock table td {
  border: solid 1px #e1e1e1;
  padding: 10px;
}

#dvProductStock .btnClose {
  text-align: center;
  margin: 10px;
}

/* バリエーション選択カート投入一覧 
#divMultiVariation {text-align:left;width:490px;}
#divMultiVariation img{border:none;}
#divMultiVariation table{width:100%;border-collapse:collapse;border-spacing:0;border:solid 1px #ccc;}
#divMultiVariation table th{background-color:#ececec;}
#divMultiVariation table th,
#divMultiVariation table td{border:solid 1px #ccc;padding:3px 5px;}
#divMultiVariation .btnClose{text-align:center;margin:10px;} */
/*========================================
 お勧め商品（商品バリエーション一覧ページ）
=========================================*/
/*
#dvProductListRight #dvRecommend{}
#dvProductListRight #dvRecommend dl{}
#dvProductListRight #dvRecommend dl dd{margin-right:5px;}
#dvProductListRight #dvRecommend dl dd.productInfoList ul li{margin:1px 0px;line-height:1.4;}
#dvProductListRight #dvRecommend dl dd.productInfoList ul li.thumnail{
	text-align:center;
	width:39px;
	border:solid 1px #ccc;
	float:left;
	margin-right:3px;
	padding:2px 0px;
}
#dvProductListRight #dvRecommend dl dd.productInfoList ul li.thumnail img{}
#dvProductListRight #dvRecommend dl dd.productInfoList ul li.productInfo{width:113px;float:right;}
#dvProductListRight #dvRecommend dl dd.toList{text-align:right;}
*/
/*========================================
 アップセル
=========================================*/
#dvUpSell, #dvCrossSell {
  margin: 60px 0 80px;
}

@media (max-width: 768px) {
  #dvUpSell, #dvCrossSell {
    margin: 50px 0;
  }
}

#dvUpSell h3, #dvCrossSell h3 {
  font-family: futura-pt, dnp-shuei-gothic-kin-std, "游ゴシック体", YuGothic, "游ゴシック Medium", "ヒラギノ角ゴ Pro W3", "HiraKakuPro-W3", "Hiragino Kaku Gothic Pro", HiraKakuProN-W3, sans-serif;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.01em;
  line-height: 1;
  text-align: left;
  color: #081D5C;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  #dvUpSell h3, #dvCrossSell h3 {
    font-size: 17px;
    margin-bottom: 15px;
    padding-left: 15px;
  }
}

#dvUpSell h3 span, #dvCrossSell h3 span {
  font-size: 12px;
  display: block;
  margin-top: 10px;
  letter-spacing: 0;
  color: #333;
}

@media (max-width: 768px) {
  #dvUpSell h3 span, #dvCrossSell h3 span {
    font-size: 11px;
  }
}

#dvUpSell .productInfoList, #dvCrossSell .productInfoList {
  float: left;
}

#dvUpSell .productInfoList ul, #dvCrossSell .productInfoList ul {
  width: 150px;
  margin: 3px;
}

#dvUpSell .productInfoList ul li, #dvCrossSell .productInfoList ul li {
  margin: 3px 0;
  line-height: 1.5;
}

#dvUpSell .productInfoList ul li p, #dvCrossSell .productInfoList ul li p {
  line-height: 1.5;
}

#dvUpSell .productInfoList ul li p strike, #dvCrossSell .productInfoList ul li p strike {
  color: #f00;
}

#dvUpSell .productInfoList ul li.thumnail, #dvCrossSell .productInfoList ul li.thumnail {
  position: relative;
  text-align: center;
}

#dvUpSell .productInfoList ul li.thumnail img, #dvCrossSell .productInfoList ul li.thumnail img {
  width: 100%;
}

#dvUpSell .productInfoList ul li.thumnail .soldout, #dvCrossSell .productInfoList ul li.thumnail .soldout {
  color: #fff;
  word-wrap: normal;
  position: absolute;
  top: 45%;
  left: 0%;
  text-align: center;
  width: 100%;
  height: 26px;
  line-height: 26px;
  background-color: #000;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}

@media (max-width: 768px) {
  #dvUpSell .productInfoList ul li.thumnail .soldout, #dvCrossSell .productInfoList ul li.thumnail .soldout {
    width: 93.75%;
  }
}

#dvCrossSell li.price a {
  cursor: inherit;
}

/*========================================
 クロスセル
=========================================*/
/*----------------------------------------------------------------------------------------------
 商品系左メニュー領域
----------------------------------------------------------------------------------------------*/
#dvProductListLeft {
  float: left;
  padding: 0px 20px 0px 0px;
}

/*----------------------------------------------------------------------------------------------
 商品系右メニュー領域
----------------------------------------------------------------------------------------------*/
#dvProductListRight, #dvProductDetailRight {
  width: 164px;
  float: right;
}

/*==============================================================================================
 商品セット一覧ラッパー
 *#dvProductSetList
==============================================================================================*/
#Contents #dvProductSetListArea {
  width: 750px;
  margin-left: 60px;
  margin-top: 10px;
}

#Contents #dvProductSetListArea .dvContentsInfo {
  padding: 15px 25px;
  background: #ececec;
  margin-bottom: 20px;
}

#Contents #dvProductSetListArea .dvContentsInfo p {
  line-height: 1.8;
  font-weight: bold;
  width: 500px;
  /* MacIE用の幅 */
}

* html #Contents #dvProductSetListArea .dvContentsInfo p {
  line-height: 1.8;
  width: auto;
}

/*MacIE以外\*/
#Contents #dvProductSetListArea h2 {
  margin: 10px;
}

#Contents #dvProductSetList table {
  border-color: #ccc;
  background-color: #ececec;
  width: 100%;
  padding: 0;
  margin: 0px;
  border-spacing: 0;
  empty-cells: show;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-collapse: collapse;
}

#Contents #dvProductSetList table th {
  color: #444 !important;
  border-color: #ccc;
}

#Contents #dvProductSetList table td {
  border-color: #ccc;
  background-color: #fff;
}

#Contents #dvProductSetList table th {
  border-top-style: solid;
  border-top-width: 1px;
  padding: 4px 8px;
  font-weight: bold;
  text-align: left;
}

#Contents #dvProductSetList table td {
  border-top-style: solid;
  border-top-width: 1px;
  padding: 4px 8px;
  text-align: left;
}

#Contents #dvProductSetList table .thumnail {
  width: 45px !important;
  text-align: center;
}

#Contents #dvProductSetList table .productId {
  width: 100px !important;
}

#Contents #dvProductSetList table .productName {
  width: 250px !important;
}

#Contents #dvProductSetList table .variationName {
  width: 100px !important;
}

#Contents #dvProductSetList table th.productPrice {
  width: 120px;
  text-align: right;
}

#Contents #dvProductSetList table td.productPrice {
  text-align: right;
}

#Contents #dvProductSetList table th.itemCount {
  width: 70px !important;
  text-align: center;
}

#Contents #dvProductSetList table td.itemCount {
  text-align: center;
}

#Contents #dvProductSetList table th.itemSetPriceTotal {
  text-align: right;
  width: 60px;
}

#Contents #dvProductSetList table td.itemSetPriceTotal, #Contents #dvProductSetList table th.setPriceTotal, #Contents #dvProductSetList table td.setPriceTotal {
  text-align: right;
}

#Contents .dvProductBtnBox {
  margin: 0px;
  padding-top: 20px;
}

#Contents .dvProductBtnBox p {
  text-align: center;
}

#Contents .dvProductBtnBox p span {
  margin: 0px 5px;
}

/*----------------------------------------
 商品セットリストブロック
-----------------------------------------*/
/* ===== 注文情報テーブル ===== */
/*----------------------------------------------------------------------------------------------
　商品系ボタン領域　
----------------------------------------------------------------------------------------------*/
#dvProductBox .dvProductBtnBox {
  margin: 0px;
  padding-top: 20px;
}

#dvProductBox .dvProductBtnBox p {
  text-align: center;
}

#dvProductBox .dvProductBtnBox p span {
  margin: 0px 5px;
}

/*==============================================================================================
 在庫一覧ラッパー
 *#ProductStock
==============================================================================================*/
#ProductStock {
  margin: 0px;
  text-align: center;
}

#ProductStock #dvContainer {
  margin: 0px auto;
  padding: 20px 0;
  text-align: left;
  width: 660px;
  background-color: Transparent;
}

#ProductStock #dvContainer h1 {
  font-size: 16px;
  padding: 3px 0px;
  border-bottom: solid 1px #ccc;
}

#ProductStock #dvContainer h2 {
  font-size: 14px;
  border-left: solid 3px #333;
  padding: 0px 3px;
  margin: 10px 0px;
}

#ProductStock #dvContainer img {
  border: none;
}

#ProductStock #dvContainer table {
  font-size: 13px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: solid 1px #ccc;
}

#ProductStock #dvContainer #divSingleVariation table * {
  text-align: left;
  font: normal 12px "メイリオ" , "ヒラギノ",tahoma, "ＭＳ Ｐゴシック";
}

#ProductStock #dvContainer #divPluralVariation table * {
  text-align: center;
  font: normal 12px "メイリオ" , "ヒラギノ",tahoma, "ＭＳ Ｐゴシック";
}

#ProductStock #dvContainer table th {
  background-color: #ececec;
  border: solid 1px #ccc;
  padding: 10px;
}

#ProductStock #dvContainer table td {
  border: solid 1px #ccc;
  padding: 10px;
}

#ProductStock #dvContainer .btnClose {
  text-align: center;
  margin: 10px;
}

/*==============================================================================================
 商品拡大画像ページ
 *#ProductZoomImage
==============================================================================================*/
#ProductZoomImage {
  margin: 0px;
  padding: 0px;
  text-align: left;
  background: url(../Contents/ImagesPkg/bg_white.jpg) top left repeat #fff;
  cursor: pointer;
}

#ProductZoomImage #dvContainer {
  background: none;
  margin: 0;
  padding: 0;
}

#ProductZoomImageWrap .main {
  position: relative;
}

#ProductZoomImageWrap #caption {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 14px;
  font-weight: bold;
  color: #000;
}

#ProductZoomImageWrap .thumb {
  width: 180px;
  margin: 0 auto;
  text-align: left;
}

#ProductZoomImageWrap .thumb .title {
  margin: 5px 0;
  text-align: left;
}

#ProductZoomImageWrap .thumb .navi1, #ProductZoomImageWrap .thumb .navi2 {
  border: 1px solid #cfcfcf;
  margin-bottom: 3px;
}

#ProductZoomImageWrap .thumb .navi1:hover, #ProductZoomImageWrap .thumb .navi2:hover {
  cursor: pointer;
  border: 1px solid #696900;
}

/*==============================================================================================
 商品レビュー
 *#dvProductReviewArea
==============================================================================================*/
#dvProductReviewArea {
  clear: both;
  margin: 10px 0 30px 0;
}

#dvProductReviewImage {
  margin-top: 7px;
  padding-bottom: 7px;
}

#dvProductReviewImage .title {
  font-size: 15px;
  font-weight: bold;
  padding: 8px;
  border-bottom: 1px solid #333;
}

#dvReviewComment ul.ulReviewComment {
  margin-bottom: 9px;
}

#dvReviewComment li img.imgReviewRating {
  margin-right: 11px;
  vertical-align: top;
}

#dvReviewComment li.liReviewName {
  margin: 10px 0;
}

#dvReviewComment li.liComment {
  margin-bottom: 13px;
  line-height: 1.5;
}

#dvProductReviewButtonControls {
  margin-top: 15px;
}

#dvReviewForm {
  border-spacing: 0pt;
  border-top: 1px solid #CCCCCC;
  empty-cells: show;
  margin: 0px;
  padding: 0pt;
  width: 100%;
}

#dvProductReviewArea table th {
  text-align: right;
}

#dvProductReviewArea span.spMessage {
  font-style: italic;
}

#dvProductReviewPagerHeader {
  margin-bottom: 10px;
}

#dvReviewFooter span.spResult {
  color: #ff0000;
}

.allReview {
  background: url("../Contents/ImagesPkg/arwR.png") no-repeat left 2px;
  padding-left: 18px;
  text-decoration: underline;
}

a.allReview:hover {
  text-decoration: none;
}

.tblReviewInput th, .tblReviewInput td {
  padding: 4px;
}

/*==============================================================================================
 バリエーション画像レイヤー表示
==============================================================================================
.variationview_wrap{
	position: absolute !important;
	top: -10px !important;
	left: 189px !important;
	z-index: 20 !important;
	border: 1px solid #d0d0d0;
	-moz-box-shadow: 2px 2px 3px #bababa;
	-webkit-box-shadow: 2px 2px 3px #BABABA;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#bababa', Direction=125, Strength=3);
}

.variationview_bg{
	width: 60px !important;
	text-align: center;
	padding: 5px 0;
	background-color: #fafafa;
}
*/
/*==============================================================================================
 入荷通知メール登録
==============================================================================================*/
.error_inline {
  color: #ff0000;
  padding: 1px !important;
  /* for IE */
  display: block !important;
}

#divProductArrivalMail, #divComplete {
  padding: 15px 15px 5px 15px;
}

#divProductArrivalMail .btnClose, #divComplete .btnClose {
  text-align: center;
  margin: 10px 10px 0px 10px;
}

#divProductArrivalMail h1, #divComplete h1 {
  font-size: 14px;
  padding: 3px 0px;
  border-bottom: solid 1px #ccc;
}

#divProductArrivalMail h2 {
  font-size: 13px;
  border-left: solid 3px #333;
  padding: 0px 3px;
  margin: 10px 0px;
}

#divProductArrivalMail div {
  font-size: 12px;
  line-height: 1.5;
}

#divComplete div {
  font-size: 12px;
  line-height: 1.5;
}

#divProductArrivalMail table {
  width: 100%;
  border: solid 1px #ccc;
  margin-top: 5px;
}

#divProductArrivalMail table th {
  padding: 10px;
  background-color: #ececec;
}

#divProductArrivalMail table td {
  padding: 10px;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
}

#divProductArrivalMail ul {
  display: inline;
  padding-left: 0px;
}

#divProductArrivalMail ul li {
  display: inline;
}

#divProductArrivalMail .necessary {
  color: #ff0000 !important;
  padding: 0px 2px !important;
}

/*==============================================================================================
 リアル店舗商品在庫一覧
==============================================================================================*/
/*----------------------------------------
 リアル店舗商品在庫一覧
-----------------------------------------*/
div.item_info_area {
  height: 120px;
  font-size: 12px;
}

div.item_info_area img {
  float: left;
}

div.item_info_area .rcolumn {
  float: left;
  margin-left: 20px;
}

div.item_info_area .rcolumn ul {
  line-height: 18px;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

div.item_info_area .rcolumn div {
  background-color: #eeeeee;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  position: relative;
}

div.item_info_area .rcolumn select {
  width: 310px;
}

/*----------------------------------------
 リアル店舗商品在庫一覧（パーツ）
-----------------------------------------*/
p.attention {
  clear: both;
  margin-top: 20px;
  border-top: solid 3px #333;
  padding: 10px;
  color: red;
  font-size: 12px;
}

table.shopList {
  border-collapse: collapse;
  border: 0 none;
  width: 100%;
  border-left: solid 1px #333;
  border-right: solid 1px #333;
  font-size: 12px;
}

table.shopList caption {
  border-top: solid 3px #333;
  border-left: solid 1px #333;
  border-right: solid 1px #333;
  text-align: left;
  font-weight: bold;
  padding: 10px;
}

table.shopList thead th {
  background-color: #333;
  color: #fff;
  font-weight: bold;
  padding: 7px 10px;
  text-align: center;
  word-break: break-all;
}

table.shopList thead td {
  background-color: #333;
  color: #fff;
  font-weight: bold;
  padding: 7px 10px;
  text-align: center;
  word-break: break-all;
  border-left: solid 1px #333;
}

table.shopList tbody th, table.shopList tbody td {
  padding: 10px 15px;
  border-bottom: solid 1px #333;
  font-weight: normal;
  line-height: 1.4;
  text-align: left;
  vertical-align: top;
}

table.shopList tbody th {
  padding: 10px;
}

table.shopList tbody th a {
  display: block;
  color: #333;
}

table.shopList tbody td.stock {
  text-align: center;
  width: 70px;
}
