@charset "UTF-8";

#search-result-layer {
    display: none;
    position: absolute;
    width:450px;
    height:440px;
    background-color: #fff;
    text-align: left;
    border: 1px solid #ccc;
    cursor:default;
    z-index: 10;
}

.search-result-layer-title {
    text-align: center;
    font-size: 15px;
    color: #444;
    padding-top: 13px;
    padding-bottom: 3px;
    background-color: #f1f1f1;
    height: 27px;
    border-bottom:1px solid #ccc;
}

.search-result-layer-addrs {
    margin-top:10px;
    overflow-x:hidden;
    width:450px;
    height:315px;
}

.search-result-layer-addr {
    color: #444;
    padding-left: 20px;
    font-size: 13px;
    cursor:pointer;
}

.search-result-layer-addr:hover{
    text-decoration: underline;
}

.search-result-layer-close {
    text-align: center;
    color: #444;
    padding-top:10px;
    background-color: #f1f1f1;
    width: 100px;
    height: 27px;
    margin: 0 auto 0 auto;
    margin-bottom: 20px;
    margin-top: 15px;
    border: 1px solid #ccc;
    cursor:pointer;
}

.search-result-layer-close:hover{
    background-color: #444;
    color: #f1f1f1;
}