@charset "utf-8";
/* ===================================================================
CSS information
 file name  :  toolTip.css
=================================================================== */
.invisible {
	display: none;
}
#r_side {
	position: relative;
}
p.toolTip {
	margin: 0px; padding: 20px; border-radius: 10px; top: 108px; width: 285px; text-align: center; color: rgb(255, 255, 255); overflow: hidden; display: none; position: fixed; z-index: 9000000; -ms-zoom: 1; box-sizing: border-box; opacity: 0.9; color:#000; background-color: #ccc; -moz-border-radius: 5px;
}
p.toolTip a {
}
p.toolTip #bt-tooltip {
	float: right; display: block;
}
p.toolTip #bt-tooltip img {
	cursor: pointer;
}
p.toolTip #txt-tooltip {
	letter-spacing: 0.02em; margin-bottom: 5px; display: block;
}
